<nav id="navbar1" class="navbar navbar-inverse navbar-fixed-top unselectable" role="navigation" ng-controller="HomeCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a ng-if="hasSession.data.permission != 2" href="/listll"><img src="images/logo_transparent.gif"></a>
            <a ng-if="hasSession.data.permission == 2" href="/home"><img src="images/logo_transparent.gif"></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
				<!-- <ul class="breadcrumb list-inline">
					<li><a href="#">Home</a></li>
					<li class="active">Current</li>
				</ul> -->
				
				<li id="navmenu" ng-if="hasSession.logged" class="dropdown ">
					<a  class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> {{'NAVIGATION' | translate}}</a>
					<ul class="dropdown-menu">
						<li><a href="/home">{{'HOME' | translate}}</a>
						</li>
						<li><a ng-if="hasSession.data.permission == 2" href="/users">{{'USERS' | translate}}</a>
						</li>
						<li><a href="/listll">{{'LESSONS' | translate}}</a>
						</li>
						<li><a ng-if="hasSession.data.permission == 2" href="/statistics">{{'STATS' | translate}}</a>
						</li>
						<li><a ng-if="hasSession.data.permission == 2" href="/list_projects">{{'PROJECTS' | translate}}</a>
						</li>
						<li ng-if="hasSession.data.permission == 2"><a href="/settings">{{'SETTINGS' | translate}}</a>
					</ul>
				</li>

				
				<li ng-if="hasSession.logged" class="dropdown">
					
					<a style='padding-bottom:11px' ng-init="convertLang()" id="langs" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
					<ul class="dropdown-menu">
						<li><a ng-click="changeLanguage('en')"><img src="images/uk.png"> English</img></a>
						</li>
						<li><a ng-click="changeLanguage('pt')"><img src="images/portugal.png"> Português</img></a>
						</li>
						<li><a ng-click="changeLanguage('fr')"><img src="images/france.png"> Français</img></a>
						</li>
					</ul>
				</li>
				
				<li ng-if="hasSession.logged" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> {{hasSession.data.name}} </a>
					<ul class="dropdown-menu">
						<li ng-if="hasSession.data.permission == 1"><a href="/mylistll">{{'MY_LL' | translate}}</a>
						</li>
						<li><a ng-click="logout()">Log Out</a>
						</li>
					</ul>
				</li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div id="filler">
</div>