<div ng-include='"app/views/templates/header.html"'></div>

<div id="toolbox" class="container">
	<div class="row text-center">
		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href="users"><i class="fa fa-users" /><br>{{ 'USERS' | translate }}</a>
		</div>
		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href="listll"><i class="fa fa-search"/><br>{{ 'LESSONS' | translate }}</a>
		</div>
		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href=""><i class="fa fa-bar-chart"/><br>{{ 'STATS' | translate }}</a>
		</div>
		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href=""><i class="fa fa-spinner"></i><br>{{ 'IN_WAIT' | translate }}</a>
		</div>
		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href=""><i class="fa fa-folder-open" /><br>{{ 'PROJECTS' | translate }}</a>
		</div>
		<div class="col-lg-4 col-xs-6 col-md-4">
			<a href="settings"><i class="fa fa-cog" /><br>{{ 'SETTINGS' | translate }}</a>
		</div>
	</div>
</div>

<div ng-include='"app/views/templates/footer.html"'></div>