<link rel="stylesheet" href="styles/list_ll.css">

<div ng-include='"app/views/templates/header.html"'></div>
    <div class="container">
        <div class="card card-container ">

            <div class="row">
				<div class="col-lg-12 col-xs-12 col-md-12">
					<form class="col-md-6">
						<div class="input-group stylish-input-group">
							<input type="text" class="form-control " placeholder="{{'SEARCH' | translate}}" ng-model="searchParams">
							<span class="input-group-addon">
								<button type="submit">
									<span class="glyphicon glyphicon-search"></span>
							</button>
							</span>
						</div>
					</form>
                    <div class="text-center col-md-6 ">
                    <a href="/create_project" type="button" class="btn btn-primary btn-outline">{{ 'ADD_PROJECT' | translate | uppercase }}</a>
                </div>
				</div>

            </div>
            <br>



<div class="cenas">
                <table cellpadding="0" cellspacing="0" border="0" class="fixed">
                    <thead>
                        <tr class="tbl-header">
                            <th>
                                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse"> {{'PROJECT_NAME' | translate}} </a>
                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span></span>

                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'manager'; sortReverse = !sortReverse"> {{'PROJECT_MANAGER' | translate}}  </a>
                                <span ng-show="sortType == 'manager' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'manager' && sortReverse" class="fa fa-caret-up"></span></span>

                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'client'; sortReverse = !sortReverse"> {{'CLIENT' | translate}}</a>
                                <span ng-show="sortType == 'client' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'client' && sortReverse" class="fa fa-caret-up"></span></span>

                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'deliveringmodel'; sortReverse = !sortReverse"> {{'DELIVERING_MODEL' | translate}} 
                                  <span ng-show="sortType == 'deliveringmodel' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'deliveringmodel' && sortReverse" class="fa fa-caret-up"></span></span> </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'sector'; sortReverse = !sortReverse"> {{'SECTOR' | translate}} 
                                  <span ng-show="sortType == 'sector' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'sector' && sortReverse" class="fa fa-caret-up"></span></span> </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'typeofchange'; sortReverse = !sortReverse"> {{'ALLOCATE_PM' | translate}} </a>
                            </th>

                        </tr>
                        <tr ng-repeat="project in projects | orderBy:sortType:sortReverse  | fuzzyBy: sortType: searchParams" class="tbl-content">
                            <td>{{project.name}}</td>
                            <td>{{project.RManager}} </td>
                            <td>{{project.client}}</td>
                            <td>{{project.deliveringModel}}</td>
                            <td>{{project.RSector}}</td>
                            <td><button type="button" class="btn btn-primary btn-circle btn-lg box-shadow--2dp" ng-click="editPM(project)"><i class="glyphicon glyphicon-pencil"></i></button></td>
                        </tr>
                    </thead>
                </table>
</div>
        </div>
        </div>
            <!-- Modal -->
<script type="text/ng-template" id="pmTpl">
    <div class="modal-header mdl-header">
        <h3 class="modal-title">{{ 'ALLOCATE_PM' | translate }}</h3>
    </div>
        <div class="modal-body mdl-content">
            <h4>{{ 'CHOOSE_PERSON' | translate}}</h4>
                <fieldset>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <select id="selectbasic" ng-model="mydata.name" name="selectbasic" class="form-control sc">
                              <option value="" disabled selected>{{ 'NONE' | translate }}</option>
                              <option ng-repeat="manager in managers" value="{{ manager.name }}"> {{ manager.name  }} </option>
                            </select>
                        </div>
                    </div><br>
                    </form>
                </fieldset>        
        </div>
        <div class="modal-footer mdl-footer">
            <button class="btn btn-danger" type="button" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
            <button class="btn btn-primary" type="button" ng-click="submit(mydata)">{{ 'SUBMIT' | translate }}</button>
        </div>
</script>

    <script src="scripts/list_ll.js"></script>
