<div ng-include='"app/views/templates/header.html"'></div>
    <div class="container">
        <div class="card card-container">

            <div class="row">
                <div class="col-lg-12 col-xs-12 col-md-12">
                  <form>
                      <div class="input-group stylish-input-group">
                          <input type="text" class="form-control sc" placeholder="{{'SEARCH' | translate}}" ng-model="searchParams">
                          <span class="input-group-addon">
                              <button type="submit">
                                  <span class="glyphicon glyphicon-search"></span>
                          </button>
                          </span>
                      </div>
                  </form>
                </div>
            </div>
            <br>
            <div class="cenas">
                <table cellpadding="0" cellspacing="0" border="0" >
                    <thead>
                        <tr class="tbl-header">
                            <th>
                                <a href="#" ng-click="sortType = 'creationdate'; sortReverse = !sortReverse"> {{ 'CREATION_DATE' | translate}}   </a>
                                <span ng-show="sortType == 'creationdate' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'creationdate' && sortReverse" class="fa fa-caret-up"></span></span>

                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'editiondate'; sortReverse = !sortReverse"> {{ 'CHANGE_DATE' | translate}}  </a>
                                <span ng-show="sortType == 'editiondate' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'editiondate' && sortReverse" class="fa fa-caret-up"></span></span>

                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'Creator'; sortReverse = !sortReverse"> {{ 'CREATOR' | translate}}  </a>
                                <span ng-show="sortType == 'Creator' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Creator' && sortReverse" class="fa fa-caret-up"></span></span>

                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'Editor'; sortReverse = !sortReverse"> {{ 'EDITOR' | translate}}
                                  <span ng-show="sortType == 'Editor' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'Editor' && sortReverse" class="fa fa-caret-up"></span></span> </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'operation'; sortReverse = !sortReverse"> {{ 'OPERATION' | translate}}
                                  <span ng-show="sortType == 'operation' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'operation' && sortReverse" class="fa fa-caret-up"></span></span> </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'operation'; sortReverse = !sortReverse"> INSPECT</a>
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="audit in (audits | fuzzyBy: sortType: searchParams).slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:sortType:sortReverse" class="tbl-content">
                            <td>{{audit.creationdate | date:'dd.MM.yyyy' }}</td>
                            <td>{{audit.editiondate | date:'dd.MM.yyyy' }} </td>
                            <td>{{audit.Creator}}</td>
                            <td>{{audit.Editor}}</td>
                            <td>{{audit.operation}}</td>
                            <td><a class="btn btn-primary btn-circle btn-lg box-shadow--1dp" ng-click="viewAudit(audit)"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                        </tr>
                    </tbody>
            </table>
        </div>
        </div>
        <uib-pagination total-items="(audits | fuzzyBy: sortType: searchParams).length" items-per-page="llsPerPage" ng-model="currentPage" boundary-links="true" class="pagination-sm" first-text="{{ 'FIRST' | translate }}" last-text="{{ 'LAST' | translate }}" next-text="{{ 'NEXT' | translate }}" previous-text="{{ 'PREVIOUS' | translate }}"></uib-pagination>
    </div>

    <!-- Modal -->
<script type="text/ng-template" id="auditTpl">
    <div class="modal-header mdl-header">
        <h3 class="modal-title">{{ 'VIEWING_CHANGES' | translate }}</h3>
    </div>
        <div class="modal-body mdl-content">
            <h4>{{ 'FIELDS_CHANGED' | translate}}</h4>
                <fieldset>
                <form class="form-horizontal" ng-if="selectedItem.editiondate != null">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput1">{{ 'EXPECTED_DATE' | translate }}</label>
                        <div class="col-sm-10">
                            <input ng-model="selectedItem.editiondate" id="textinput1" type="text" class="form-control input-md sc" disabled></input>
                        </div>
                    </div><br>
                    <div class="form-group" ng-if="selectedItem.action != null">
                        <label class="col-sm-2" control-label" for="textinput2">{{ 'ACTION_TAKEN' | translate }}</label>
                        <div class="col-sm-10">
                            <textarea disabled rows="4" ng-model="selectedItem.action" id="textinput2" class="form-control input-md sc" style="font-weight: 300;font-size: 14px;color: #fff;background-color: rgb(52,71,112);border-bottom: solid 1px rgb(72,89,126);"></textarea>
                        </div>
                    </div><br>
                    <div class="form-group" ng-if="selectedItem.situation != null">
                        <label class="col-sm-2" control-label" for="textinput2">{{ 'DESCRIPTION' | translate }}</label>
                        <div class="col-sm-10">
                            <textarea disabled rows="4" ng-model="selectedItem.situation" id="textinput2" type="textarea" class="form-control input-md sc" style="font-weight: 300;font-size: 14px;color: #fff;background-color: rgb(52,71,112);border-bottom: solid 1px rgb(72,89,126);"></textarea>
                        </div>
                    </div><br>
                    <div class="form-group" ng-if="selectedItem.result != null">
                        <label class="col-sm-2" control-label" for="textinput2">{{ 'RESULT_DESCRIPTION' | translate }}</label>
                        <div class="col-sm-10">
                            <textarea disabled rows="4" ng-model="selectedItem.result" id="textinput2" type="textarea" class="form-control input-md sc" style="font-weight: 300;font-size: 14px;color: #fff;background-color: rgb(52,71,112);border-bottom: solid 1px rgb(72,89,126);"></textarea>
                        </div>
                    </div>
                    </form>
                </fieldset>
                </div>
</script>

    <script src="scripts/list_ll.js"></script>