<link rel="stylesheet" href="styles/list_ll.css">

<div ng-include='"app/views/templates/header.html"'></div>
    <div class="container">
        <div class="card card-container">

            <div class="row">
				<div class="col-lg-12 col-xs-12 col-md-12">
                <form>
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control sc" placeholder="{{'SEARCH' | translate}}" ng-model="searchParams">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </form>
				</div>
            </div>
            <br>



            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0" >
                    <thead>
                        <tr>
                            <th>
                                <a href="#" ng-click="sortType = 'creationdate'; sortReverse = !sortReverse"> {{'CREATION_DATE' | translate}}   </a>
                                <span ng-show="sortType == 'creationdate' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'creationdate' && sortReverse" class="fa fa-caret-up"></span></span>

                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'technologies'; sortReverse = !sortReverse"> {{'TECHNOLOGY' | translate}}  </a>
                                <span ng-show="sortType == 'technologies' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'technologies' && sortReverse" class="fa fa-caret-up"></span></span>

                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse"> {{'AUTHOR' | translate}}  </a>
                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span></span>

                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse"> {{'PROJECT' | translate}}
                                  <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span></span> </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'sector'; sortReverse = !sortReverse"> {{'SECTOR' | translate}}
                                  <span ng-show="sortType == 'sector' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'sector' && sortReverse" class="fa fa-caret-up"></span></span> </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'client'; sortReverse = !sortReverse"> {{'CLIENT' | translate}}
                                  <span ng-show="sortType == 'client' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'client' && sortReverse" class="fa fa-caret-up"></span></span> </a>
                            </th>
                            
                            <th ng-show="isAdmin==1">

                                <select class="form-control sc" ng-options="item.title for item in fieldTable" ng-model="selected" ng-change="hasChanged()">
                                </select>

                            </th>

                            <th>
                                <a href="#" ng-click="sortType = 'typeofchange'; sortReverse = !sortReverse"> {{'INSPECT' | translate}} </a>
                            </th>

                        </tr>
                    </thead>
                </table>
            </div>

            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>

                        <tr ng-repeat="lesson in lessons | orderBy:sortType:sortReverse  | fuzzyBy: sortType: searchParams |  filter:Status(lesson.status)">
                            <td>{{ lesson.creationdate | date:'dd.MM.yyyy' }}</td>
                            <td>{{lesson.technologies}} </td>
                            <td>{{lesson.name}}</td>
                            <td >{{lesson.title}}</td>
                            <td>{{lesson.sector}}</td>
                            <td >{{lesson.client}}</td>
                            <td ng-if="isAdmin==1">{{lesson.status}}</td>
                            <td><a class="btn btn-primary " href="/view_ll/{{lesson.idLessonsLearned}}"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></td>
                        </tr>

            </div>


        </div>

    <script src="scripts/list_ll.js"></script>
