<link rel="stylesheet" href="styles/list_ll.css">

<div ng-include='"app/views/templates/header.html"'></div>
    <div class="container">
        <div class="card card-container">

            <div class="row">
				<div class="col-lg-12 col-xs-12 col-md-12">
					<form>
						<div class="input-group stylish-input-group">
							<input type="text" class="form-control " placeholder="Search..." ng-model="searchParams">
							<span class="input-group-addon">
								<button type="submit">
									<span class="glyphicon glyphicon-search"></span>
							</button>
							</span>
						</div>
					</form>
				</div>
            </div>
            <br>



            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0" >
                    <thead>
                        <tr>
                            <th>
                                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse"> Name   </a>
                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span></span>

                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'manager'; sortReverse = !sortReverse"> Manager  </a>
                                <span ng-show="sortType == 'manager' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'manager' && sortReverse" class="fa fa-caret-up"></span></span>

                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'client'; sortReverse = !sortReverse"> Client  </a>
                                <span ng-show="sortType == 'client' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'client' && sortReverse" class="fa fa-caret-up"></span></span>

                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'deliveringmodel'; sortReverse = !sortReverse"> Delivering Model
                                  <span ng-show="sortType == 'deliveringmodel' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'deliveringmodel' && sortReverse" class="fa fa-caret-up"></span></span> </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'sector'; sortReverse = !sortReverse"> SECTOR
                                  <span ng-show="sortType == 'sector' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'sector' && sortReverse" class="fa fa-caret-up"></span></span> </a>
                            </th>

                        </tr>
                    </thead>
                </table>
            </div>

            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>

                        <tr ng-repeat="project in projects | orderBy:sortType:sortReverse  | fuzzyBy: sortType: searchParams">
                            <td>{{project.name}}</td>
                            <td>{{project.manager}} </td>
                            <td>{{project.client}}</td>
                            <td>{{project.deliveringModel}}</td>
                            <td>{{project.sector}}</td>
                        </tr>

            </div>


        </div>

    <script src="scripts/list_ll.js"></script>
