<link href="styles/tags.min.css" rel="stylesheet">
<script src="scripts/tags.min.js"></script>
<div ng-include='"app/views/templates/header.html"'></div>
<div class="container">
    <h4>{{'TECHS' | translate}}</h4>
    <br>
    <br>
    <!-- Trigger the modal with a button -->
    <tags-input  ng-model="newTech" add-on-space="true" on-tag-removed="techRemoved($tag)"> </tags-input>
    <button type="button" class="btn btn-primary btn-outline " ng-click="addTech();" data-toggle="modal" data-target="#myModal" id="cen">{{'UPDATE_TECHS' | translate}}</button>
    <br>
    <br>



</div>
<br>
<br>
<div class="container">
    <h4>{{'PROJECT_TYPES' | translate}}</h4>
    <br>
    <br>
    <!-- Trigger the modal with a button -->
    <tags-input  ng-model="newType" add-on-space="true" on-tag-removed="typeRemoved($tag)"></tags-input>
    <button type="button" class="btn btn-primary btn-outline " data-toggle="modal" data-target="#myModal3" ng-click="addType();"> 
    {{'UPDATE_TYPES' | translate}}</button>

    <br>
    <br>

</div>
<br>
<br>
<div class="container">
    <h4>{{'BUSINESS_SECTORS' | translate}}</h4>
    <br>
    <br>
    <!-- Trigger the modal with a button -->
    <tags-input ng-model="newSector" add-on-space="true" on-tag-removed="sectorRemoved($tag)"></tags-input>
    <button type="button" class="btn btn-primary btn-outline " data-toggle="modal" data-target="#myModal2" ng-click="addSector();">{{'UPDATE_SECTORS' | translate}}</button>
    <br>
    <br>

</div>
	<div class="row animation error-message text-center" ng-repeat="item in items">
			{{ item | translate}}<a href="#" class="pull-right" ng-click="pop()"><span class="glyphicon glyphicon-remove glyphicon-white"></span></a>
	</div>