<link href="styles/tags.min.css" rel="stylesheet">
<script src="scripts/tags.min.js"></script>
<div ng-include='"app/views/templates/header.html"'></div>
<div class="container">
    <h4>Tecnologias</h4>
    <br>
    <br>
    <!-- Trigger the modal with a button -->
    <tags-input  ng-model="newTech" add-on-space="true" on-tag-removed="techRemoved($tag)"> </tags-input>
    <button type="button" class="btn btn-primary btn-outline " ng-click="addTech();" data-toggle="modal" data-target="#myModal" id="cen">Inserir tecnologia</button>
    <br>
    <br>



</div>
<br>
<br>
<div class="container">
    <h4>Tipo de Projeto</h4>
    <br>
    <br>
    <!-- Trigger the modal with a button -->
    <tags-input  ng-model="newType" add-on-space="true" on-tag-removed="typeRemoved($tag)"></tags-input>
    <button type="button" class="btn btn-primary btn-outline " data-toggle="modal" data-target="#myModal3" ng-click="addType();">Inserir Tipo</button>



    <br>
    <br>

</div>
<br>
<br>
<div class="container">
    <h4>Setor de Projeto</h4>
    <br>
    <br>
    <!-- Trigger the modal with a button -->
    <tags-input ng-model="newSector" add-on-space="true" on-tag-removed="sectorRemoved($tag)"></tags-input>
    <button type="button" class="btn btn-primary btn-outline " data-toggle="modal" data-target="#myModal2" ng-click="addSector();">Inserir Setor</button>
    <br>
    <br>

</div>
