<div ng-include='"app/views/templates/header.html"'></div>

<!-- Select Basic -->
<!-- Text input-->
<div class="container"><br>
<div class="col-lg-12 col-xs-12 col-sm-12 col-md-8" name="createproject">
  <ol class="breadcrumb">
    <li><a href="/home">{{ 'HOME' | translate }}</a>
    </li>
    <li class="active">{{ 'CREATE_PROJECT' | translate }}</li>
  </ol><br>
<form ng-submit="addProject(project)" class="form-horizontal">
<fieldset>
<div class="form-group">
  <div class="col-md-6">
    <label class="control-label" for="project">{{ 'PROJECT_NAME' | translate }}</label><br>
    <input ng-model="project.name" id="textinput" name="textinput" type="text" class="form-control input-md">
  </div>
</div>

<div class="form-group">
  <div class="col-md-6">
    <label class="control-label" for="project">{{ 'DELIVERING_MODEL' | translate }}</label><br>
    <input ng-model="project.deliveringModel" id="textinput" name="textinput" type="text" class="form-control input-md">
  </div>
</div>

<div class="form-group">
<div class="col-md-4">
    <label class="control-label" for="project">{{ 'PROJECT_MANAGER' | translate }}</label><br>
    <select id="selectbasic" ng-model="project.manager" name="selectbasic" class="form-control sc">
      <option value="" disabled selected>{{ 'NONE' | translate }}</option>
      <option  ng-repeat="manager in managers" value="{{ manager.name }}"> {{ manager.name  }} </option>
    </select>
  </div>
  <div class="col-md-4">
  <label class="control-label" for="project">{{ 'COLABORATORS' | translate }}</label><br>
    <input ng-model="project.numberConsultants" id="textinput" name="textinput" type="text" class="form-control input-md">
  </div>
<div class="col-md-4">
    <label class="control-label" for="project">{{ 'BUSINESS_SECTOR' | translate }}</label><br>
    <select ng-model="project.sector" id="textinput" name="textinput" type="text" class="form-control input-md sc">
      <option value="" disabled selected>{{ 'NONE' | translate }}</option>
      <option ng-repeat="sector in sectors" value="{{ sector.name }}">{{ sector.name }}</option>
    </select>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
        <label class="control-label" for="project">{{ 'STARTING_DATE' | translate }}</label><br>
       <input ng-model="date.dateBeginning" type="date" class="form-control input-md" placeholder="yyyy-MM-dd">
  </div>
  <div class="col-md-4">
      <label class="control-label" for="project">{{ 'EXPECTED_DATE' | translate }}</label><br>
       <input ng-model="date.dateEndExpected" type="date" class="form-control input-md" placeholder="yyyy-MM-dd">
  </div>
  <div class="col-md-4">
        <label class="control-label" for="project">{{ 'CONCLUSION_DATE' | translate }}</label><br>
       <input ng-model="date.dateEnd" type="date" class="form-control input-md" placeholder="yyyy-MM-dd">
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
    <label class="control-label" for="project">{{ 'DAYS_LENGTH' | translate }}</label><br>
    <input ng-model="project.daysDuration" id="textinput" name="textinput" type="text" class="form-control input-md">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="project">{{ 'PROJECT_TYPE' | translate }}</label><br>
    <select id="selectbasic" ng-model="project.type"  name="selectbasic" class="form-control sc">
      <option value="" disabled selected>{{ 'NONE' | translate }}</option>
      <option ng-repeat="type in types" value="{{ type.name }}">{{ type.name }}</option>
    </select>
  </div>
    <div class="col-md-4">
      <label class="control-label" for="project">{{ 'CLIENT' | translate }}</label><br>
      <input ng-model="project.client" id="textinput" name="textinput" type="text" class="form-control input-md">
  </div>
</div>
<fieldset>
<!-- Button (Double) -->
	<div class="row animation error-message text-center" ng-repeat="item in items">
			{{ item | translate}}<a href="#" class="pull-right" ng-click="pop()"><span class="glyphicon glyphicon-remove glyphicon-white"></span></a>
	</div>
  <button type="submit" class="btn btn-primary btn-outline pull-right">{{ 'ADD_PROJECT' | translate }}</button>

  <a href ="/list_projects" class="btn btn-primary btn-outline pull-right">{{ 'CANCEL' | translate }}</a>

</form>
    
</div>
</div>